@use '../components' as *;

.slide {
   font-size: 20px;
   font-weight: 200;
   letter-spacing: 1px;
   padding: 10px 25px 10px;
   outline: 0;
   border: 1px solid $grey;
   color: white;
   cursor: pointer;
   position: relative;
   background-color: rgba(0, 0, 0, 0);
   border-radius: 5px;
      i {
         opacity: 0;
         font-size: 13px;
         transition: 0.2s;
         position: absolute;
         right: 10px;
         top: 21px;
         transition: transform 1;
      }
      div {
         padding-top: 0.5rem;
         transition: transform 0.8s;
      }
      &:hover div {
         transform: translateX(-6px);
      }
      &::after {
         content: "";
         background-color: $primary;
         border-radius: 5px;
         width: 100%;
         z-index: -1;
         position: absolute;
         height: 100%;
         top: 7px;
         left: 7px;
      }
      &:hover i {
         opacity: 1;
         transform: translateX(-6px);
      }
}

.custom-shape-divider-top-1629764535 {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   overflow: hidden;
   line-height: 0;
   transform: rotate(180deg);
   z-index: -1;
   svg {
      position: relative;
      display: block;
      width: calc(300% + 1.3px);
      height: 363px;
   }
   .shape-fill {
      fill: #ff914d11;
   }
}

.custom-shape-divider-bottom-1629785664 {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   overflow: hidden;
   line-height: 0;
   transform: rotate(180deg);
   svg {
      position: relative;
      display: block;
      width: calc(141% + 1.3px);
      height: 61px;
      transform: rotateY(180deg);
   }
   .shape-fill {
      fill: #ff914d11;
   }
}