@use '../components' as *;

main {
   font-family: 'Josefin Sans', sans-serif;
   @include display-flex;
   .container {
      z-index: 2;
      width: 80rem;
      display: grid; 
      grid-template-columns: 1fr auto; 
      grid-template-rows: 0.6fr 1fr; 
      grid-template-areas: 
        "grid-title grid-image"
        "grid-subtitle grid-image"; 
      justify-items: stretch; 
      padding-top: 2%;
      padding-bottom: 3rem;
      .grid-title {
         padding-left: 3rem;
         justify-self: start; 
         align-self: end; 
         grid-area: grid-title; 
      }
      .underline {
         margin: 1rem 0 2rem 0;
         position: relative;;
         width: 13rem;
         height: 0.3rem;
         background-color: $primary;
         border-radius: 10px;
      }
      .grid-subtitle {
         padding-left: 3rem;
         justify-self: start; 
         align-self: start; 
         grid-area: grid-subtitle; 
         line-height: 1.5rem;
      }
      .grid-image {
         padding-right: 3rem;
         justify-self: center; 
         align-self: center; 
         grid-area: grid-image; 
         .fit-picture3 {
            display: none;
         }
         .fit-picture2 {
            display: none;
         }
         .fit-picture4 {
            display: none;
         }
      }
      .h2__color {
         color: $primary;
         width: 80%;
         font-size: 70px;
         margin-bottom: 0;
      }
      h3 {
         color: $grey;
         font-size: 70px;
         margin: 0;
      }
      p {
         font-size: 18px;
         width: 80%;
         color: $grey;
      }
   }
}