@use '../components' as *;

.custom-shape-divider-bottom-1629764839 {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   overflow: hidden;
   line-height: 0;
}

.custom-shape-divider-bottom-1629764839 svg {
   position: relative;
   display: block;
   width: calc(100% + 1.3px);
   height: 47px;
   transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1629764839 .shape-fill {
   fill: #ff914d11;
}

footer {
   font-family: 'Josefin Sans', sans-serif;
   color: $grey;
}
