@import "assets/css/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;1,300;1,400;1,600&display=swap");
body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

header {
  padding: 0;
}
header .name {
  flex-wrap: wrap;
  padding: 3rem 3rem 3rem 3rem;
  font-family: "Josefin Sans", sans-serif;
}
header .name h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  color: #FF914D;
}
header .name .name--sub {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
header .name .name--sub a {
  position: relative;
  padding: 1.5rem 0rem 1rem 0rem;
  margin: 0 2rem 0 2rem;
  display: inline-block;
  color: #808080;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}
header .name .name--sub a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #FF914D;
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.5s ease-in-out;
}
header .name .name--sub a:hover::before {
  transform: translate(-50%, 0) scaleX(1);
}

main {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .container {
  z-index: 2;
  width: 80rem;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 0.6fr 1.2fr;
  grid-template-areas: "grid-title grid-image" "grid-subtitle grid-image";
  justify-items: stretch;
  padding-top: 2%;
  padding-bottom: 3rem;
}
main .container .grid-title {
  padding-left: 3rem;
  justify-self: start;
  align-self: end;
  grid-area: grid-title;
}
main .container .underline {
  margin: 1rem 0 2rem 0;
  position: relative;
  width: 13rem;
  height: 0.3rem;
  background-color: #FF914D;
  border-radius: 10px;
}
main .container .grid-subtitle {
  padding-left: 3rem;
  justify-self: start;
  align-self: start;
  grid-area: grid-subtitle;
  line-height: 1.5rem;
}
main .container .grid-image {
  padding-right: 3rem;
  justify-self: center;
  align-self: center;
  grid-area: grid-image;
}
main .container .grid-image .fit-picture3 {
  display: none;
}
main .container .grid-image .fit-picture2 {
  display: none;
}
main .container .grid-image .fit-picture4 {
  display: none;
}
main .container .grid-image .fit-picture5 {
  display: none;
}
main .container .h2__color {
  color: #FF914D;
  width: 80%;
  font-size: 70px;
  margin-bottom: 0;
}
main .container h3 {
  color: #808080;
  font-size: 70px;
  margin: 0;
}
main .container p {
  font-size: 18px;
  width: 80%;
  color: #808080;
}

.slide {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 10px 25px 10px;
  outline: 0;
  border: 1px solid #808080;
  color: white;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
}
.slide i {
  opacity: 0;
  font-size: 13px;
  transition: 0.2s;
  position: absolute;
  right: 10px;
  top: 21px;
  transition: transform 1;
}
.slide div {
  padding-top: 0.5rem;
  transition: transform 0.8s;
}
.slide:hover div {
  transform: translateX(-6px);
}
.slide::after {
  content: "";
  background-color: #FF914D;
  border-radius: 5px;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
}
.slide:hover i {
  opacity: 1;
  transform: translateX(-6px);
}

.custom-shape-divider-top-1629764535 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -1;
}
.custom-shape-divider-top-1629764535 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 363px;
}
.custom-shape-divider-top-1629764535 .shape-fill {
  fill: #ff914d11;
}

.custom-shape-divider-bottom-1629785664 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.custom-shape-divider-bottom-1629785664 svg {
  position: relative;
  display: block;
  width: calc(141% + 1.3px);
  height: 61px;
  transform: rotateY(180deg);
}
.custom-shape-divider-bottom-1629785664 .shape-fill {
  fill: #ff914d11;
}

@media (max-width: 1200px) {
  main .container .grid-image .fit-picture {
    display: none;
  }
  main .container .grid-image .fit-picture2 {
    padding-right: 2rem;
    display: block;
  }
  main .container .grid-image .fit-picture5 {
    display: none;
  }
}
@media (max-width: 1100px) {
  main {
    margin-bottom: 3rem;
  }
}
@media (max-width: 950px) {
  main .container .h2__color {
    margin-top: 0.8rem;
  }
  main .container .grid-image {
    padding-top: 3rem;
  }
  main .container .grid-image .fit-picture {
    display: none;
  }
  main .container .grid-image .fit-picture2 {
    display: none;
  }
  main .container .grid-image .fit-picture3 {
    display: none;
  }
  main .container .grid-image .fit-picture5 {
    display: block;
  }
  main .container .grid-image .fit-picture4 {
    display: none;
  }
}
@media (max-width: 750px) {
  main .container {
    display: grid;
    grid-template-rows: 0.2fr 0.2fr 0.8fr;
    grid-template-areas: "grid-title grid-title" "grid-subtitle grid-subtitle" "grid-image grid-image";
    justify-content: space-between;
    justify-items: center;
  }
  main .container .h2__color {
    margin-top: 0.8rem;
  }
  main .container h3 {
    color: #808080;
    width: 80%;
    font-size: 50px;
    margin: 0;
  }
  main .container .grid-image {
    padding-top: 3rem;
    padding-right: 0;
  }
  main .container .grid-image .fit-picture {
    display: none;
  }
  main .container .grid-image .fit-picture2 {
    display: none;
  }
  main .container .grid-image .fit-picture3 {
    display: block;
  }
  main .container .grid-image .fit-picture5 {
    display: none;
  }
  main .container .grid-image .fit-picture4 {
    display: none;
  }
}
@media (max-width: 550px) {
  main .container {
    padding-bottom: 1rem;
  }
  main .container .h2__color {
    color: #FF914D;
    font-size: 50px;
    margin-bottom: 0;
  }
  main .container h3 {
    color: #808080;
    font-size: 45px;
    margin: 0;
  }
  main .container .grid-image {
    padding-top: 1rem;
  }
  main .container .grid-image .fit-picture {
    display: none;
  }
  main .container .grid-image .fit-picture2 {
    display: none;
  }
  main .container .grid-image .fit-picture3 {
    display: none;
  }
  main .container .grid-image .fit-picture4 {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
